body{
  font-family: Arial, Helvetica, sans-serif;
}
button{
  padding: 10px 20px 10px 10px;
  border-radius:5px;
  background-color: #F2C0FF;
  border: none;
  color: black;
  font-weight:600;
  text-align:center;
}
button:hover{
  padding: 10px 20px 8px 10px;
  border-radius:5px;
  background-color: white;
  border: 2px solid salmon;
  color: black;
  font-weight:600;
  text-align:center;
}
.code{
  background-color:black;
  color:greenyellow;
  padding:10px;
  border-radius: 15px;
  line-height: .5em;
  display:inline-block;
  font-weight:200;
}
.code .prettify{
  color:#F2C0FF;
  font-weight:600;
}
.info-section{
  background-color:#E3FFF1;
  padding:20px;
  margin-bottom:15px;
}
.row{
  max-width: 600px;
}